:root {
    --brand-color-white: #fefefe;
}

@font-face {
    font-family: "Brand Header";
    src: url("media/brand-header.ttf");
}

@font-face {
    font-family: "Brand Text";
    src: url("media/brand-text.ttf");
}

body {
    color: var(--brand-color-white);
    background-color: #151516;
    font-family: "Brand Text";
    margin: 0;
}

.title-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100svh;
    background-image: url(media/brand-logo.svg);
    background-repeat: round;
}

.contacts-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    text-align: center;
}

.contacts-page__logo {
    margin: auto;
}

.contacts-page__h1 {
    font-size: calc(1.5rem + 2vw);
    font-family: "Brand Header";
    margin: 0;
}

.contacts-page__h2 {
    font-size: calc(1rem + 1vw);
}

.contacts-page__footer {
    margin-bottom: 2rem;
}

.contacts-page__link {
    text-decoration: none;
    font-style: normal;
    color: var(--brand-color-white);
    font-size: 1rem;
    margin: 0 0.5rem;
}

#brand-logo-eyeball {
    animation: blink 4s infinite;
}

#brand-logo-eyelid {
    animation: squeeze 4s infinite;
}

@keyframes blink {
    95% {
        transform: none;
        animation-timing-function: ease-in;
    }

    97% {
        transform: translateY(50%) scaleY(0);
    }

    100% {
        animation-timing-function: ease-out;
    }
}

@keyframes squeeze {
    95% {
        transform: none;
        animation-timing-function: ease-in;
    }

    97% {
        transform: translateY(10%) scaleY(0.8);
    }

    100% {
        animation-timing-function: ease-out;
    }
}
